/* by default, the default form adds some surrounding space, this cancels it */

  .content div.form-item, .content div.content {
    margin:0;
    padding:0;
  }

/* this adds some space in top and bottom, so anything inside can look vertically centered */

  #user-login-bar {
    background-color:#000;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:12px;
    height:32px;
    line-height:32px;
    padding:0 10px 0 0;
    margin:0;
    text-transform:uppercase;
    width:790px;
  }

  #user-login-bar .user-info {
    text-transform:none;
  }

  #user-login-bar a {
    color:#f7941d;
    text-decoration:none;
  }

  #user-login-bar a:hover {
    border-bottom:2px solid #f7941d;
  }

.mail_count_link {
background:transparent url(mail.png) no-repeat scroll left center;
padding-left:21px;
}

#user-login-bar a.mail_count_link:hover {
border-bottom-width: 0;
}

#user-login-bar a.mail_count_link:hover span {
border-bottom:2px solid #f7941d;
}

/* by default, fields labels tries to reserve a whole line for itself, this cancels that and and sends it to the left.

it also adds some space on the right and left of the label to look easy on the eye. */

  #user-login-bar label {
    color:#f7941d;
    float:left;
  }

  #user-login-bar input {
    background:#464646;
    border:1px solid #636363;
    color:#fff;
    float:left;
    margin:6px 10px 0 10px;
  }

  #user-login-bar span.form-required {
    display:none;
  }

  #user-login-bar input.form-submit {
    background-color:#000;
    border:0;
    color:#fff;
    cursor:pointer;
    margin-left:0;
  }

  #user-login-bar div.item-list ul {
    float:right;
    margin:0;
  }

  #user-login-bar div.item-list ul li {
    list-style:none;
    display:inline;
    margin:0 0 0 10px;
  }

#user-login-bar p.user-info {
    float:left;
    margin:0;
    padding-left:10px;
  }