/* Images ---------------------- */

	.bannerimage {
		margin:0;
		}
	html>body .bannerimage {
		margin:0;
		}
	.iconimage {
		margin:3px;
		}
	html>body .iconimage {
		margin:3px;
		}
	.leftimage, .leftalphaimage {
		margin:4px 8px 1px 0px;
		}
			
	html>body .leftimage, html>body .leftalphaimage {
		margin:3px 8px 1px 0px;
		}
			
	.rightimage, .rightalphaimage {
		margin:4px 0px 1px 8px;
		}
			
	html>body .rightimage, html>body .rightalphaimage {
		margin:3px 0px 1px 8px;
		}

	.authorimage {
		float:left;
		position:relative;
		top:-35px;
		margin:0px 0px 0px 0px;
		}
			
	html>body .authorimage {
		margin:0px 0px 0px 0px;
		}

	img.social_icon {
		margin-left:3px;
		}
	img.social_icon_left {
		margin-right:3px;
	}

/* All games archive ---------------------- */

	.archiveImage {
		margin:2px 8px 2px 0px;
		}
	
	html>body .archiveImage {
		margin:1px 8px 2px 0px;
		}
	
	.archiveImageDiv {
		min-height:50px;
	}
	* html .archiveImageDiv {
		height:50px; }

	.archive-content
	{
	   clear: both;
	   margin: 5px 10px 20px 10px;
	}

	.archive-list-item
	{
		line-height:1em;
		margin-top: 5px;
		margin-bottom: 10px;
		padding-bottom:10px;
		/*border-bottom:1px dotted #1F3633;
		color:#1F3633;*/
	}

	.archive-list-item a
	{
	   font-weight:bold;
	}

	.archive-list-item a:hover
	{
	   /*color: #3E7605;*/
	}

	.archive-header
	{
	   /*border-bottom: 1px solid #785829;
	   border-left: 5px solid #1F3633;
	   color: #1F3633;
	   background: #FBFFD8;*/
	}

	.archive-header a
	{
	   /*color: #674718;
	   background: #FBFFD8;*/
	}

	.archive-header a:hover
	{
	   /*color: #3E7605;*/
	}

/* Entries and Tag search results ---------------------- */

	.entry, .bfg-feature {
		width:96.15%;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
		margin-bottom:45px;
		}
	.bfg-feature .entrytitle h1 {
		width:96.15%;
		margin:10px 0 5px 0;
		}
	.bfg-feature-link {
		font-size:large;
		}
	.entryheader {
		margin-top:5px;
		position:relative;
		width:100%;
		overflow:hidden;
		padding-top:2px;
		padding-bottom:5px;
		}
	.bestof-header {
		padding-top:15px;
		}
	.entryheader h4 {
		margin:0px;
		}
	.entrydate {
		font-size:x-small;
		font-weight:bold;
		position:relative;
		padding-top:9px;
		width:28%;
		float:right;
		text-align:right;
		}
	.entrytitle h1 {
		font-size:x-large;
		font-weight:bold;
		position:relative;
		width:72%;
		float:left;
		margin:0px;
		line-height:1em;
		z-index:2;
		}

	.entrymeta {
		margin-bottom:5px;
		margin-top:5px;
		}
	.entrybody {
		line-height:1.45em;
		}
	.entrybody li {
		margin-bottom:10px;
		}
		
	.comments-link-footer {
		text-align:right;
		position:relative;
		top:-5px;
		}

	.blogbody {
		display:block;
		margin-top:5px;
		margin-bottom:10px;
		min-height:60px;
		}
	.tags, .platform {
		display:block;
		width:70%;
		font-size:small;
		font-weight:normal;
		position:relative;
		left:2px;
		}
	.tags-header, .platform-header {
		font-weight:bold;
		}
	.platform {
		font-size:medium;
		}
		
	.rating_bar {
		position:relative;
		float:left;
		margin:3px 0 0 5px;
		width: 55px;
		background: url(/images/star_x_grey.gif) 0 0 repeat-x;
		}
	.rating_bar div {
		position:relative;
		float:left;
		height: 12px;
		background: url(/images/star_x_orange.gif) 0 0 repeat-x;
		}
	.rating_header {
		position:relative;
		float:left;
		font-size:small;
		font-weight:bold;
		left:2px;
		}
	.rating_text {
		position:relative;
		float:left;
		font-size:x-small;
		margin:3px 0 0 3px;
		}
	#sort_form {
		padding:0 0 0 14px;
		display:none;
		}
	.sort_form_label {
		position:relative;
		font-size:medium;
		line-height:1.2em;
		margin:7px;
		top:-2px;
		}	
	.addthis-button {
		position:absolute;
		top:35px;
		right:0px;
		}
	.mission-background {
		position:absolute;
		z-index:1;
		min-height:60px;
		width:190px;
		left:-10px;
		margin-bottom:0px;
		font-size:small;
		padding:15px 15px 5px 15px;
		}
	.mission {
		z-index:2;
		position:relative;
		display:block;
		margin-bottom:0px;
		font-size:small;
		padding:15px;
		padding-bottom:8px;	
		}

	#search-google {
		margin-top:15px;
		margin-left:5px;
		text-align:right;
		}
	#search-submit {
		margin-bottom:10px;
		float:right;
		}

	#search-text {
		margin-bottom:5px;
		}

	.div-centered {
		width:750px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		}


	#comments, #walkthrough {
		margin: 0 10px 0 10px;
		width:auto;
		}
	#comment-panels, #walkthrough {
		width:500px;
		}
	.comment-footer {
		margin-bottom:-5px;
		text-align:right;
		}
	.comment-content {
		margin-top:20px;
		}
	#comments-open {
		margin-left:10px;
		}
	#comments-open-notes {
		width:460px;
		}
	#comments-open-notes li {
		margin-bottom:5px;
		margin-top:5px;
		}

	#non-auth-user-note {
		display:none;
		}

	.content-inner {
		width:100%;
		min-height:30px;
		}
	.content-inner h1 {
		float:left;
		}
	.content-inner img {
		float:right;
		position:relative;
		right:20px;
		}
		
	.walkthrough {
		margin:10px 0 10px 0;
		clear:both;
		}

	.pulltext, .walkthrough-alert {
		font-size:large;
		line-height:1.2em;
		}
	.walkthrough-alert {
		padding-left:5px;
		padding-top:10px;
		margin-bottom:15px;
		}

	.Gamecode {
		padding:2px;
		}
	.Gamecode textarea {
		width:485px;
		}
	.GamecodeText {
		font-size:small;
		}
	.aficons-mac {
		width:187px;
		margin-left:auto;
		margin-right:auto;
		}
	.cg-icons {
		border:#000 1px solid;
		margin:1px;
		}
	.ravenhearst2-icon {
		top:4px;
		}
	.totemtribe-icon {
		top:2px;
		}
	.walkthrough-icon {
		margin-bottom:16px;
		}
	.icon-taglist {
		clear:both;
		}	
	.legal {
		font-size:small;
		}
	.legal h2 {
		font-size:medium;
		font-weight:bold;
		}
	.legal li {
		margin-top:5px;
		margin-bottom:10px;
		}
	.copyright {
		font-size:x-small;
		text-align:right;	
		}
	.strikethrough {
		text-decoration:line-through;
		}
	.footnote {
		font-size:x-small;
		line-height:1em;
		margin-bottom:5px;
		}
	#companyline {
		font-size:small;
		}
	#footerlinks {
		text-align:center;
		color:#f7f7f7;
		}
	#footerlinks a {
		color:#33ccff;
		}
	.anchor-link {
		font-size:x-small;
		}
	.newsimage {
		width:294px;
		margin-left:5px;
		float:right;
		font-size:small;
		font-family:Times;
		line-height:1.1em;
		}
	.newsimage .copy {
		clear:both;
		padding:5px;
		}

	.bestof-votebtn {
		position:absolute;
		bottom:29px;
		right:0;
		}
	.bestof-icons {
		width:100%;
		}
	.bestof-icon {
		width:50px;
		float:left;
		padding-left:8%;
		}
	.twitter-text {
		font-weight:bold;
		position:relative;
		top:20px;
		left:10px;
		}
	.twitter-button {
		margin-bottom:10px;
		}
	.new-rating {
		position:absolute;
		width:24px;
		height:22px;
		right:0;
		bottom:3px;
		}
	.bestof2008-award,
	.bestof2009-award {
		position:absolute;
		right:0;
		bottom:1px;
		}
	#listsubscribe-frame {
		width:500px;
		height:635px;
		border:0;
		}
	div.all-gamesfeatured {
		font-size:x-small;
		position:relative;
		width:125px;
		float:right;
		margin-top:3px;
		margin-left:2px;
		padding-right:2px;
		padding-bottom:2px;
		padding-left:5px;
		}
	div.all-gamesfeatured ul {
		margin-bottom:0;
		margin-left:3px;
		list-style:none;
		}
	.clear {
		clear:both;
		}
	.leftside-alert {
		position:relative;
		left:-10px;
		}
	td.cat-icon {
		width:100px;
		height:70px;
		padding-left:20px;
		}
	td.cat-blurb {
		font-size:medium;
		font-weight:bold;
		}
	button, .playButton {
		font-size:1.9em;
		padding:14px;
		background:url(/images/overlay.png) repeat-x center;
		-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
		cursor:pointer;
		}
	button:active, .playButton:active {position:relative;top:2px;}
	button.play-btn, .playButton {
		width:500px;
		text-align:center;
		}
	.playButton {
		width:466px;
		display:block;
		padding:16px;
		text-align:center;
		font-weight:normal;
		line-height:1em;
		}
	a.play,
	a.play:link,
	a.play:visited,
	a.play:active,
	a.play:hover { text-decoration: none; }
