#featuredcontainer {
	font-size:11pt;
	overflow:hidden;
	position:relative;
	background:#4ED5E5;
	padding:10px 9px 10px 10px;
	border:1px #CCCCCC solid;
	color:#000;
	}
#featuredgame {
	width:100%;
	min-height:200px;
	}	
.featuredheader {
	font-weight:bold;
	color:#000;
	}
.featureddev {
	font-size:x-small;
	margin-bottom:5px;
	color:#000;
	}
#featuredinfo {
	background:#66CC45;
	margin-left:208px;
	padding:5px 5px 10px 5px;
	}
.replay {
	background:#66CC45 !important;
	}
.featureddesc{
	position:relative;
	top:5px;
	}
.featuredsize{
	font-size:x-small;
	font-weight:bold;
	color:#ffff66;
	}
.featuredbuttons {
	display:block;
	position:relative;
	float:left;
	margin-top:15px;
	margin-bottom:15px;	
	}
a.featuredtitle {
	font-size:large;
	font-weight:bold;
	}
#featuredcontainer a {
	color:#fff;
	}
#featuredcontainer a:hover {
	color:#ffff66;
	}
.featuredimage {
	margin-right:7px;
	border:1px solid #555;
	}

/* New buttons */
#fg {
	font: bold 75%/1.2em Arial, Helvetica, sans-serif;
	color:#666;
	background:#4ED5E5;
	}
.fg_platforms {
	float:left;
	padding:5px;
	}
ul.fg_platforms {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;

	}
ul.fg_platforms li {
	margin: 0;
	padding: 5px 0 10px 0;
	height:21px;
	line-height:1.5em;
	}
ul.fg_platforms li a,
ul.fg_platforms li span {
	font-size:1em;
	display: block;
	text-decoration: none;
	color: #063466 !important;
	padding:5px;
	width: 157px;
	background:#fff;
	}
ul.fg_platforms li a#fg_win {
	background: #fff url("http://jayisgames.com/images/pinkrobot.png") no-repeat 144px center;		
	}
ul.fg_platforms li a#fg_mac,
ul.fg_platforms li span#fg_mac {
	background: #fff url("http://jayisgames.com/images/greenrobot.png") no-repeat 144px center;		
	}
ul.fg_platforms li span#fg_mac {
	color:#aaa !important;
	}
.fg_platforms a:hover {
	color:#72BF33 !important;
	}
.button-disabled {
	opacity:.40;
	}
.fg_moreinfo {
	float:right;
	background-color:#666;
	display:block;
	margin:5px 0 0 0;
	}
.fg_moreinfo a {
	font-size:1em;
	display: block;
	text-decoration: none;
	padding: 8px 10px 12px 10px;
	width: 78px;
	text-align:center;
	height:48px;
	background: #666 url("http://jayisgames.com/images/inforocket.gif") no-repeat center 2.1em;		
	}		

/* Replay feature styles */
.feature {
	width:96.2%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	overflow:hidden;
	}
.featureHeader {
	margin-bottom:7px;
	margin-top:0;
	}

.featureTitle, .excerptTitle {
	font-size: medium;
	font-weight:bold;
	}

.featureType {
	font-size: 1.17em;
	font-weight: bolder;
	}
.featureImage {
	margin:2px 8px 6px 0px;
	}

html>body .featureImage {
	margin:6px 8px 6px 0px;
	}

#featureButton {
	position:relative;
	top:4px;
	left:-2px;
	}

.bfgfeature {
	position:relative;
	float:left;
	width:90px;
	height:113px;
	margin:0 5px 0 4px;
	}
.bfgfeature img {
	margin-left:5px;
	border: #DDDDDD 3px solid;
	}
.bfgfeature-title {
	font-size:x-small;
	line-height:0.9em;
	text-align:center;
	padding-left:5px;
	}
#new-games-feature {
	width: 1000px;
	overflow:hidden;
	}
.new-games-panel {
	position:relative;
	left:0;
	float:left;
	width:500px;
	}
#panel-buttons {
	position:relative;
	display:inline;
	float:right;
	font-weight:normal;
	font-size:x-small;
	line-height:1.8em;
	}
#feature-panel1 a,
#feature-panel2 a {
	font-weight:normal;
	}
.panel-on {
	font-weight:bold !important;
	text-decoration:underline !important;
	}